header{
    background-color: rgb(68, 6, 1);
    color: rgb(4, 211, 248);
}

.cabeçalho-imagem{
    width: 20%;
}
.cabeçalho{
    background-color: midnightblue;
    color: #fff8b6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}